:root {
    --main-color: #141414;
    --second-color: #160e00;
    --bg-widgets: #FFC700;
    --text: #C3C3C3;
    --navSearch: #4B0004;
    /* ///// */
    --primary-color: #FFC700;
    --secondary-color: #4B0004;
    --dark-color: black;

}
