:root {
    --main-color: #141414;
    --bg-widgets: #FFC700;
    --text: #C3C3C3;
    --navSearch: #4B0004;
}

*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
} 
  
html, 
body {
    height: 100%;
}

h1,h2,h3,.button{
    font-family: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
    -ms-overflow-style: none;
}
nav
{
  background-color: var(--main-color);
  color: var(--bg-widgets);
  display: flex;  
  justify-content: space-between;
  align-items: center;
}
menu>li{
  opacity: 0;
}
body
{
    background:linear-gradient(0deg, #000000 20%, #141414 60%, #C3C3C3);
    background-repeat:no-repeat;
}
a{
    color:var(--text-nav);
    text-decoration:none;
    font-style: normal;
}
.Logo
{
    width:7rem;
    aspect-ratio:1;
}

.searchBar
{
  background-color: var(--navSearch);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.searchBar>input{
  background-color: var(--navSearch);
  border:none;
  width:clamp(75ch, 200vh, 250px);
  padding:10px;
  color:var(--text);
}
.searchBar>input:focus{
  outline:none;
}
.searchBar>button{
  background:none;
  border:none;
  outline: none;
  box-shadow: none;
  background:var(--main-color);
  font-size:2rem;
  color:var(--text);
}
.searchBar>button:active{
  background:none;
  border:none;
  outline: none;
  box-shadow: none;
}
.slider-wrapper
{
    position: relative;
}
.slider-wrapper .item-list
{
    display: grid;
    gap:18px;
    overflow-x: auto;
    margin-bottom: 1rem;
    scrollbar-width: none;
    grid-template-columns: repeat(8, 1fr);
}

.slider-wrapper .item-list .image-item
{   
    width: 640px; 
    height:480px;    
}

.slider-wrapper .slide-button
{
    position:absolute;
    top: 50%;
    height:100%;
    width:7rem;
    border: none;
    outline:none;
    background: red;
    cursor: pointer;
    opacity: 0.5;
    transform:translateY(-50%);
    color:white;
}

.slider-wrapper .slide-button .prev
{
    color:blue;
}
.slider-wrapper .slide-button .next
{
    color:blue;
}
.slider-wrapper .slide-button#left
{
    left:-5px;
}
.slider-wrapper .slide-button#right
{
    right:-5px;
}
.carousel .slider-scrollbar
{
    height:24px;
    width: 100%;
    display:flex;
    align-items:center;
}

.slider-scrollbar .scrollbar-track{
    height : 4px;
    width: 100%;
    background: #ccc; 
    border-radius: 4px;;   
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track
{
    height:6px;
}
.slider-scrollbar .scrollbar-thumb:active
{
    cursor: grabbing;
    height: 8px;
    top:-1px;
}

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height : 100%;
    width: 50%;
    background: #000;    
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb::after
{
    content:"";
    position:absolute;
    left:0px;
    right:0px;
    top:-10px;
    bottom:-10px;
}