:root {
    --main-color: #141414;
    --bg-widgets: #FFC700;
    --text: #C3C3C3;
    --navSearch: #4B0004;
}

*
{
    padding:0;
    margin:0;
    width: 100%;
    box-sizing: border-box;
} 

main{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,.button{
    font-family: "Montserrat", sans-serif;
}

.toggle-menu
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toggle-btn
{
    visibility:hidden;
}

.menu-wrapper
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav
{
  background-color: var(--main-color);
  color: var(--bg-widgets);
  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin-bottom:2rem;
}
menu>li{
    visibility:hidden;    
    list-style: none;
}

menu li a
{
    text-decoration: none;
}

menu li:hover
{
    text-decoration: none;
    background:var(--text);
    color:var(--main-color);
}


.toggle-menu:hover menu>li
{
    visibility: visible;
    opacity: 1;
}
body
{
    background:linear-gradient(0deg, #000000 20%, #141414 60%, #C3C3C3);
    background-repeat:no-repeat;
}
a{
    color:var(--text-nav);
    text-decoration:none;
    font-style: normal;
}
.Logo
{
    width:7rem;
    aspect-ratio:1;
}

.searchBar
{
  background-color: var(--navSearch);
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  height:3rem;
}
.searchBar input{
  background-color: var(--navSearch);
  border:none;
  width:clamp(10ch, 100vh, 250px);
  padding:10px;
  border-radius: 7px;
  color:var(--text);
}
.searchBar input:focus{
  outline:none;
}
.searchBar button{
  background:none;
  border:none;
  outline: none;
  box-shadow: none;
  background:var(--navSearch);
  font-size:2rem;
  color:var(--text);
  border-radius: 7px;
}
.searchBar button:active{
  background:none;
  border:none;
  outline: none;
  box-shadow: none;
  color:var(--bg-widgets);
}
.slider-wrapper
{
    position: relative;
    max-width:100%;
    height:auto;
    display:block;
    margin:0 auto;
}
.slider-wrapper .item-list
{
    display: grid;
    gap:18px;
    overflow-x: auto;
    margin-bottom: 1rem;
    scrollbar-width: none;
    grid-template-columns: repeat(8, 1fr);
}

.slider-wrapper .item-list .image-item
{   
    width: 640px; 
    height:480px;    
}

.slider-wrapper .slide-button
{
    position:absolute;
    top: 50%;
    height:100%;
    width:7rem;
    border: none;
    outline:none;
    background: var(--text);
    cursor: pointer;
    opacity: 0.5;
    transform:translateY(-50%);
    color:white;
}

.slider-wrapper:hover .slide-button 
{
   visibility: visible;
}
.slider-wrapper .slide-button 
{
   visibility: hidden;
}
.slider-wrapper .slide-button .prev
{
    color:var(--bg-widgets);
}
.slider-wrapper .slide-button .next
{
    color:var(--bg-widgets);
}
.slider-wrapper .slide-button#left
{
    left:-5px;
}
.slider-wrapper .slide-button#right
{
    right:-5px;
}
.carousel .slider-scrollbar
{
    height:24px;
    width: 100%;
    display:flex;
    align-items:center;
}

.slider-scrollbar .scrollbar-track{
    height : 4px;
    width: 100%;
    background: #ccc; 
    border-radius: 4px;;   
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track
{
    height:6px;
}
.slider-scrollbar .scrollbar-thumb:active
{
    cursor: grabbing;
    height: 8px;
    top:-1px;
}

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height : 100%;
    width: 50%;
    background: var(--bg-widgets);    
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb::after
{
    content:"";
    position:absolute;
    left:0px;
    right:0px;
    top:-10px;
    bottom:-10px;
}

#news
{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#news h2{
    color: var(--text);
    padding:2rem;
}

.sheet-template
{
    width:50ch;
    padding:2rem;
    background:#C3C3C3;
    border-radius: 20px;;
}
.sheets
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#hall
{
    padding:5rem;
    color:var(--text);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

#hall .note{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#poster .item-list .item
{
    height:30vw;
    aspect-ratio: 1;
}

@media screen and (width <= 768px) { 
    nav{
        width:100%;
    }
    #news
    {    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #news h2{
        color: var(--text);
        grid-column:  1 /-1;
    }
    .sheet-template
    {
        width:90vw;
        padding:2rem;
        background:#C3C3C3;
        border-radius: 20px;;
    }
    .burger-menu
    {   
        visibility: visible;
        display: block;
        position: absolute;
        right:0;
        transform:translateX(-5rem);
        width: 100px;
        height:10px;
        background:#4B0004;
        border-radius: 8px;
        transition: 0.5s;
    } 

    .burger-menu::before
    {   
        position: relative;
        display: block;
        content:"";
        top:-25px;
        width:100px;
        height:10px;
        background:var(--bg-widgets);
        border-radius: 8px;
    }  

    .burger-menu::after
    {   
        position: relative;
        display: block;
        content:"";
        top:15px;
        width:100px;
        height:10px;
        background:var(--bg-widgets);
        border-radius: 8px;
    }

    .menu-wrapper input:checked ~ .burger-menu:after{
        top: 0;
        transform: rotate(-405deg);
        width: 100px;
        transition: 0.5s;
    }
    .menu-wrapper input:checked ~ .burger-menu:before{
        top: 1vh;
        transform: rotate(405deg);
        width: 100px;
        transition: 0.5s;
    }
    .menu-wrapper input:checked ~ .burger-menu{
        background: transparent;
    }
    .menu-wrapper input:not(:checked) ~ .burger-menu:after{
        transition: 0.5s;
    }
    .menu-wrapper input:not(:checked) ~ .burger-menu:before{
        transition: 0.5s;
    }

    .menu-wrapper
    {        
        flex-direction: column-reverse;
        visibility: hidden;
        width:50vw;
    }

    .toggle-btn
    {
        position: absolute;
        top:2vw;
        right:-2vw;
        width:120px;
        height:120px;
        opacity: 0;
        visibility: visible;
        transform:translateX(-5rem);        
    }
    .menu-wrapper h2
    {
        visibility: hidden;   
    }


    .menu-wrapper input:checked
    {        
        flex-direction: column-reverse;
        visibility: visible;
        width:50vw;
        height:50vw;
    }

    
    .image-item{
        height: auto !important;
        width: 100vw !important;
    }

    .slider-wrapper .item-list
    {
        gap:0px;
    }
    .slider-wrapper .slide-button .prev
    {
        
        scale: 0.5;
        transform:translateX(-45%);
    }
    .slider-wrapper .slide-button .next
    {
        right:0px;
        scale: 0.5;
        transform:translateX(-20%);
    }
    .slider-wrapper .slide-button#left
    {        
        left:0px;
    }
    .slider-wrapper .slide-button#right
    {
        right:0px;
    }
    .slider-wrapper .slide-button
    {
        background: transparent;
    }
    .slider-wrapper:hover .slide-button#right
    {
        right:0px;
    }
    .slider-scrollbar
    {
        visibility: hidden;
    }

}

@media screen and(max-width:1300px) { 
    .slider-scrollbar
    {
        visibility: hidden;
    }
    .image-item{
        height: auto !important;
        width: 100% !important;
    }
}
